
<html>
	<head>
		<link rel="stylesheet" href="style.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	</head>
	<body>
		<h1>Toutes les factures</h1>
		
	    <section th:each="facture: ${factures}">
    		<a th:href="@{/facture?name={name}(name=${facture.numero})}">Facture numéro: <span th:text="${facture.getNumero()}"/></a>
    		<p>ID: <span th:text="${facture.getId()}"/></p>
    		<p>Date: <span th:text="${facture.getDate()}"/></p>
    		<p>Nombre de pages: <span th:text="${facture.getPages().size()}"/></p>
    		<!--
    		<span th:if="${facture.getPages().size() > 0}">
    		-->
    		<ul>
    			<li th:each="page: ${facture.pages}">Page ID: <span th:text="${page.getId()}"/> / Type: <span th:text="${page.getType()}"/> / Contenu: <span th:text="${page.getContent()}"/> / Nombre d'annotations: <span th:text="${page.getAnnotations().size()}"/>
	    			<ul>
	    				<li th:each="annotation: ${page.annotations}">Annotation ID: <span th:text="${annotation.getId()}"/> / PosX: <span th:text="${annotation.getPosX()}"/> / PosY: <span th:text="${annotation.getPosY()}"/> / Type: <span th:text="${annotation.getType()}"/></li>
	    			</ul>
    			</li>
    		</ul>
    					
    		<!--
    		<tr th:each="page: ${facture.pages}">
		    		<p>ID: <span th:text="${page.getId()}"/></p>
		    		<p>Type: <span th:text="${page.getType()}"/></p>
		    		<p>Nombre d'annotations: <span th:text="${page.getAnnotations().size()}"/></p>
    		</tr>
    		-->
    	</section>
    	
    	
	</body>
</html>