<!doctype html>
<html>
    <head>
        <meta charset="utf8" />
        <link rel="stylesheet" href="style.css" />
        <title>Test Konva</title>
        <script type = "application/javascript" th:src="@{/js/src/js1.js}"></script>
        <script type = "application/javascript" th:src="@{/js/lib/konva.js}"></script>
        <script type = "application/javascript" th:src="@{/js/lib/jquery-3.5.1.slim.min.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
    </head>

    <body>
        
        <input type="button" onclick="test()" value="run test function"/>
        <div id="topmenu">Menu</div>
        
        <div class="mainview">
            <div id="palette">
              Palette
            </div>
            <div id="tree">
              Tree
            </div>
            <div id="editor">
              Editor
            </div>
          </div>
        
        
    </body>
</html>