html,
body {
    height: 100%;
    font-family: "Roboto";
}
/*
#topmenu {
    background-color: gray;
}
*/
.mainview {
    width: 100%;
    height: 100%;
}

#palette {
    /*background-color: lightgray;*/
    float: left;
    width: 15%;
    height: 100%;
}

#tree {
    /*background-color: bisque;*/
    float: right;
    width: 17%;
    height: 100%;
}
#editor {
    /*background-color: lightcyan;*/
    overflow: auto;
    height: 100%;
}

section{
  border: 5px outset gray;
  background-color: lightgray;
  margin: 10px;
  padding: 5px;
}
